body {
    background-image: url(../img/background.png);
    background-size: cover;
}

.desk {
    margin: 50px 0px 0px 0px;
    background-color: #fff;
    min-width: 290px;
}

/* header */

a {
    color: #365880;
    text-decoration: none;
}

.beggin {
    margin-top: 25px;
    margin-bottom: 5px;
    margin-right: -15px;
    margin-left: -15px;
}

.info {
    display: flex;
    justify-content: space-around;
}

.info-2 {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.info-3 {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

@media only screen and (max-width: 766px) {

    .info-2 {
    margin: 0px;
    }
    .info-3 {
    margin: 0px;
    }

}


.info>a{
    color: #914A3D;
}

hr{
    border-top: .5px dotted #3D5E84;
}

nav {
    display: flex;
    justify-content: center;
}


nav>ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin-bottom: 20px;
    }

nav>ul>li{
    margin: 0px 8px 0px 8px;
}

nav>ul>li>a {
    color: gray;
}
/* header end */

/* main start */

.h-img{
    background-image: url(../img/h-background_c.png);
    background-repeat: no-repeat;
    background-size: cover;
    }

.description {
    text-align: center;
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 45px;
    padding: 30px;
}
.description>h2{
    margin: 1px;
    padding: 0px;
    font-family: 'Ovo', serif;
}
.description>p{
    margin: 30px 5px 10px 5px;
}

/* main end */

/* element start */
.productos {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


.producto {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 600px;
}

.producto>a{
    color: #365880;
    margin: 10px 0px;
}

.producto>a>img {
    margin: 0px 5px 0px 0px;
}


.productos>h3 {
    color: #365880;
    font-weight: 300;
    font-size: 14px;
}

.btn {
    color: #fff;
    width: 150px;
    padding: 0px;
    background-color: #365880;
    border-width: thin;
    border-radius: 0px;
    padding: 2px;
    font-weight: 400;
    margin-top: 10px;
}

form {
    width: 300px;
}

form>input {
    border-radius: 0px;
    border-color: #365880;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 300;
    color: #365880;
}

/* element end */

/* footer start */

footer{
    background-image: url(../img/f-background.png);
    margin-bottom: 60px;
}

.contactos {
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.contact>h2 {
    font-family: 'Ovo', serif;
        font-weight: 100;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

}
.contact>p {
    font-family: 'Ovo', serif;
    margin:0px;
}



/* footer start */

